<div class="login-world">
   
  <div class="nebula-drift"></div>
  <div class="space-overlay"></div>

  <div class="portal-scene">

    <div class="portal-wrapper">

      <img
        class="portal-outer"
        src="assets/portal1.png"
        alt=""
      >

      <div class="portal-core"></div>

      <img
        class="portal-inner"
        src="assets/portal1.png"
        alt=""
      >

      <div class="portal-glow"></div>
      <div class="portal-vortex"></div>

      <div class="portal-content">

        <h1 class="portal-title">
          FORGE<br>YOUR<br>IDENTITY
        </h1>
        

        <form
          [formGroup]="registerForm"
          (ngSubmit)="register()"
          class="portal-form"
        >

          <label class="input-shell">
            <span>FULL NAME</span>
            <input
              type="text"
              formControlName="name"
              class="portal-input"
              placeholder="Traveler Name"
            >
          </label>

          <label class="input-shell">
            <span>EMAIL</span>
            <input
              type="email"
              formControlName="email"
              class="portal-input"
              placeholder="traveler@gmail.com"
            >
          </label>

          <label class="input-shell">
            <span>PASSWORD</span>
            <input
              type="password"
              formControlName="password"
              class="portal-input"
              placeholder="Create Secret Key"
            >
          </label>

          <label class="input-shell">
            <span>CONFIRM PASSWORD</span>
            <input
              type="password"
              formControlName="confirmPassword"
              class="portal-input"
              placeholder="Confirm Secret Key"
            >
          </label>

          <button
  type="submit"
  class="enter-btn"
  [disabled]="isLoading"
>

  <span *ngIf="!isLoading">
    CREATE ACCOUNT
  </span>

  <span
    *ngIf="isLoading"
    class="loading-content"
  >
    <span class="spinner"></span>
    Creating...
  </span>

</button>

        </form>

        <div class="register-section">
          Already a traveler?
          <a routerLink="/login">
            Enter Nexus
          </a>
        </div>

      </div>

    </div>

    <img
      class="floating-island"
      src="assets/floating-island1.png"
      alt=""
    >

  </div>

  <button
    class="back-btn"
    (click)="goBack()"
    type="button"
  >
    ← Back
  </button>

</div>
<div
  class="success-overlay"
  [class.show]="showSuccess"
>
  <div class="success-circle">

  <span class="success-icon">
    ✓
  </span>

  <div class="success-text">
    Account Created
  </div>

</div>
</div>